# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
\#*\#

# Undo-tree save-files
*.~undo-tree

# Test server pidfile
test/server.pid

# linting packages installation directory
/packages

# autoloads
verb-autoloads.el

# Emacs binary
/emacs

# Testing server
/server
