# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
\#*\#

# Undo-tree save-files
*.~undo-tree

# Python env for test server
/env

# Test server pidfile
test/server.pid

# package-lint installation directory
/package-lint

# autoloads
verb-autoloads.el
